.about {
  margin-top: 6rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
  color: var(--color-secondary);
}

.content img {
  width: 20rem;
  margin: 0 auto;
}

.content article {
  padding: 1rem;
  line-height: 1.4;
}
