/* ----- used in About.js ----- */

/* ----- start of general styling ----- */

.about {
  margin-top: 6rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* ----- end of general styling ----- */

/* ----- start of content specific styling ----- */

.about .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
  color: var(--color-secondary);
}

.about .content img {
  width: 20rem;
  margin: 0 auto;
  border-radius: 1rem;
}

.about .content article {
  padding: 1rem;
  line-height: 1.4;
}

.about article h1 {
  font-size: 3rem;
  text-align: center;
}

.about article h2 {
  font-size: 1.5rem;
}

.about article h3 {
  font-size: 1.3rem;
}

/* ----- end of content specific styling ----- */

/* ----- start of media queries ----- */

@media screen and (min-width: 576px) {
  .about .content {
    max-width: 50rem;
    font-size: 3.5rem;
  }

  .about .content img {
    width: 30rem;
  }

  .about article h1 {
    font-size: 3rem;
  }

  .about article h2 {
    font-size: 2rem;
  }

  .about article h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .about .content {
    max-width: 60rem;
    font-size: 3.8rem;
  }

  .about .content img {
    width: 30rem;
  }

  .about article h1 {
    font-size: 3.5rem;
  }

  .about article h2 {
    font-size: 2.5rem;
  }

  .about article h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .about .content {
    max-width: 80rem;
    font-size: 4rem;
  }

  .about .content img {
    width: 30rem;
  }

  .about article h1 {
    font-size: 4rem;
  }

  .about article h2 {
    font-size: 2.5rem;
  }

  .about article h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .about .content {
    max-width: 100rem;
    font-size: 4rem;
  }

  .about .content img {
    width: 30rem;
  }

  .about article h1 {
    font-size: 5rem;
  }

  .about article h2 {
    font-size: 3rem;
  }

  .about article h3 {
    font-size: 2rem;
  }
}

/* ----- end of media queries ----- */
