:root {
  --color-primary: #2e3038;
  --color-secondary: #eee;
  --color-tertiary: #1552ec;
  --color-quaternary: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 1px solid red; */
}

body {
  width: 100%;
  background-color: var(--color-primary);
}

button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-tertiary);
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  cursor: pointer;
}
