:root {
  --color-primary: #2e3038;
  --color-secondary: #eee;
  --color-tertiary: #1552ec;
  --color-quaternary: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
