/* ----- used in Navbar.js and Footer.js ----- */

.navigation {
  height: 6rem;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-tertiary);
}

.brand-name {
  display: flex;
  margin-left: 1rem;
  font-size: 6rem;
  color: var(--color-secondary);
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
}

.navigation-menu li {
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.nav-links li {
  margin: 0 1rem;
}

.hamburger {
  border: 0rem;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 830px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    margin-top: 3rem;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    background-color: var(--color-quaternary);
    border-radius: 0;
    color: var(--color-secondary);
  }

  .navigation-menu.expanded ul {
    display: block;
    z-index: 99;
  }
}
